In [1]:
# depencies
import pandas as pd
import os 
import csv
import numpy as np

In [8]:
#Import files
collegeBball = "CollegeBasketballPlayers2009-2021.csv"
currcollegeBball = "CollegeBasketballPlayers2022.csv"
draftPlayers = "DraftedPlayers2009-2021.csv"

In [9]:
#College Players 2009-2021 Dataframe
pastColPlayersDF = pd.read_csv(collegeBball)
pastColPlayersDF.head(3)

     player_name           team conf  GP  ...     ast     stl     blk      pts
0  DeAndrae Ross  South Alabama   SB  26  ...  1.1923  0.3462  0.0385   3.8846
1  Pooh Williams       Utah St.  WAC  34  ...  1.8235  0.4118  0.2353   5.9412
2  Jesus Verdejo  South Florida   BE  27  ...  1.9630  0.4815  0.0000  12.1852

[3 rows x 63 columns]

In [10]:
# read files and create College basketball players 2022 df
currColPlayersDF = pd.read_csv(currcollegeBball)
currColPlayersDF.head()

           player_name                team  ... Unnamed: 64  Unnamed: 65
0        Isaiah Felder  South Carolina St.  ...      Wing G    12.226400
1  Jalen Coleman-Lands              Kansas  ...      Wing G    11.095900
2          K.J. Walton               Akron  ...      Wing G     0.284581
3         Jeriah Horne               Tulsa  ...   Stretch 4    10.140700
4           Eric Curry           Minnesota  ...      Wing F     2.562430

[5 rows x 66 columns]

In [11]:
# read files and create drafted players 2009-2021 df
draftPlayersDF = pd.read_csv(draftPlayers)
draftPlayersDF.head()

            PLAYER                 TEAM  ... ROUND PICK  OVERALL PICK
0  Cade Cunningham      Detroit Pistons  ...          1             1
1      Jalen Green      Houston Rockets  ...          2             2
2      Evan Mobley  Cleveland Cavaliers  ...          3             3
3   Scottie Barnes      Toronto Raptors  ...          4             4
4      Jalen Suggs        Orlando Magic  ...          5             5

[5 rows x 7 columns]

In [13]:
# rename player column in draftPlayersDF
draftPlayersDF = draftPlayersDF.rename(columns={"PLAYER":"player_name","TEAM":"nba team","AFFILIATION":"team","YEAR":"year"})
draftPlayersDF.head(3)

       player_name             nba team  ... ROUND PICK  OVERALL PICK
0  Cade Cunningham      Detroit Pistons  ...          1             1
1      Jalen Green      Houston Rockets  ...          2             2
2      Evan Mobley  Cleveland Cavaliers  ...          3             3

[3 rows x 7 columns]

In [14]:
# Join draft players df 09-21 and college basketball players 09-21 df on player name,team, and year
newdraftDF = pd.merge(pastColPlayersDF,draftPlayersDF,on=["player_name","team","year"])
newdraftDF.head(3)

      player_name        team conf  ...  ROUND NUMBER  ROUND PICK  OVERALL PICK
0     Jordan Hill     Arizona  P10  ...             1           8             8
1  Chase Budinger     Arizona  P10  ...             2          14            44
2      Earl Clark  Louisville   BE  ...             1          14            14

[3 rows x 67 columns]

In [15]:
# check for and drop null values in college Players 2009-2021
newdraftDF = newdraftDF[newdraftDF.team.notnull()]
newdraftDF

            player_name            team  ... ROUND PICK  OVERALL PICK
0           Jordan Hill         Arizona  ...          8             8
1        Chase Budinger         Arizona  ...         14            44
2            Earl Clark      Louisville  ...         14            14
3      Dante Cunningham       Villanova  ...          3            33
4         Derrick Brown          Xavier  ...         10            40
..                  ...             ...  ...        ...           ...
437      Day'Ron Sharpe  North Carolina  ...         29            29
438      Isaiah Jackson        Kentucky  ...         22            22
439      Greg Brown III           Texas  ...         13            43
440        Keon Johnson       Tennessee  ...         21            21
441  Brandon Boston Jr.        Kentucky  ...         21            51

[442 rows x 67 columns]

In [16]:
#check number of null values in dataframe
newdraftDF['team'].isna().sum()

0

In [17]:
# check for and drop null values in college Players 2022
currColPlayersDF['team'].isna().sum()

0

In [20]:
#  replace all null values in the pick column of the newdraftDF with "not drafted"
newdraftDF['pick'].fillna("Undrafted",inplace= True)
newdraftDF['pick'].isna().sum()

0

In [21]:
#drop pid column from newdraftDF 
newdraftDF = newdraftDF.drop(columns='pid')
newdraftDF.head(3)

      player_name        team conf  ...  ROUND NUMBER  ROUND PICK  OVERALL PICK
0     Jordan Hill     Arizona  P10  ...             1           8             8
1  Chase Budinger     Arizona  P10  ...             2          14            44
2      Earl Clark  Louisville   BE  ...             1          14            14

[3 rows x 66 columns]

In [27]:
# drop pid column from current college players df
potentialdraftDF = currColPlayersDF.drop(columns='pid')
potentialdraftDF.head(3)

           player_name                team  ... Unnamed: 64  Unnamed: 65
0        Isaiah Felder  South Carolina St.  ...      Wing G    12.226400
1  Jalen Coleman-Lands              Kansas  ...      Wing G    11.095900
2          K.J. Walton               Akron  ...      Wing G     0.284581

[3 rows x 65 columns]

In [23]:
#update the pick column to draft status
newdraftDF = newdraftDF.rename(columns={"pick":"draft_status"})
newdraftDF.head(2)

      player_name     team conf  ...  ROUND NUMBER  ROUND PICK  OVERALL PICK
0     Jordan Hill  Arizona  P10  ...             1           8             8
1  Chase Budinger  Arizona  P10  ...             2          14            44

[2 rows x 66 columns]

In [28]:
#update the pick column to draft status

potentialdraftDF = potentialdraftDF.rename(columns={"pick":"draft_status"})
potentialdraftDF.head(3)

           player_name                team  ... Unnamed: 64  Unnamed: 65
0        Isaiah Felder  South Carolina St.  ...      Wing G    12.226400
1  Jalen Coleman-Lands              Kansas  ...      Wing G    11.095900
2          K.J. Walton               Akron  ...      Wing G     0.284581

[3 rows x 65 columns]

In [30]:
#  replace all null values in the pick column of the potentialdrafDF with "not drafted"
potentialdraftDF['draft_status'].fillna("Undrafted",inplace= True)
potentialdraftDF['draft_status'].isna().sum()

0

In [25]:
# replacing numeric values for boolean values
newdraftDF.loc[newdraftDF['draft_status'] !="Undrafted", 'draft_status'] = "Drafted"

In [26]:
newdraftDF.head(15)

         player_name            team  ... ROUND PICK  OVERALL PICK
0        Jordan Hill         Arizona  ...          8             8
1     Chase Budinger         Arizona  ...         14            44
2         Earl Clark      Louisville  ...         14            14
3   Dante Cunningham       Villanova  ...          3            33
4      Derrick Brown          Xavier  ...         10            40
5   Tyler Hansbrough  North Carolina  ...         13            13
6        Danny Green  North Carolina  ...         16            46
7    Chinemelu Elonu       Texas A&M  ...         29            59
8       DeJuan Blair      Pittsburgh  ...          7            37
9     DaJuan Summers      Georgetown  ...          5            35
10       Jeff Teague     Wake Forest  ...         19            19
11     James Johnson     Wake Forest  ...         16            16
12     Stephen Curry        Davidson  ...          7             7
13  Gerald Henderson            Duke  ...         12            12
14       Jonny Flynn        Syracuse  ...          6             6

[15 rows x 66 columns]

In [31]:
# export cleaned newdraft dataframe
newdraftDF.to_csv('New_Draft.csv')

In [32]:
# export cleaned potentialdraft dataframe 
potentialdraftDF.to_csv('Potential_Draft.csv')